/* Write your CSS code here */
.list-container {
  display: flex;
  align-items: center;
}
.currency-logo {
  width: 20px;
  margin-left: 40px;
  margin-right: 15px;
}
.value-container {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
}
.value {
  margin-inline: 25px;
  width: 60px;
  text-align: end;
}
